n8n/demo-data/workflows/templates/d4e5f6a7b8c9012345678901234abcd.json
{
  "createdAt": "2026-05-21T12:00:00.000Z",
  "updatedAt": "2026-05-21T12:00:00.000Z",
  "id": "d4e5f6a7b8c9012345678901234abcd",
  "name": "Template - NodeBot Builder",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "hostedChat",
        "initialMessages": "Hi, I am NodeBot Builder. Pick a starter prompt or describe an n8n workflow you want \u2014 I will use the matching builder tool or the n8n MCP workflow-builder.",
        "availableInChat": true,
        "agentName": "NodeBot Builder",
        "agentDescription": "Build, list, and manage n8n workflows. Has fast helpers for greeting / webhook / scheduled workflows and falls back to n8n MCP for everything else.",
        "suggestedPrompts": {
          "prompts": [
            {
              "icon": {
                "type": "icon",
                "value": "workflow"
              },
              "text": "Create a workflow with a Manual Trigger and a Set node that returns hello from NodeBot."
            },
            {
              "icon": {
                "type": "icon",
                "value": "webhook"
              },
              "text": "Create a webhook workflow at path lead-capture that accepts JSON and returns a normalized response."
            },
            {
              "icon": {
                "type": "icon",
                "value": "clock"
              },
              "text": "Create a scheduled workflow that runs every morning at 9am and logs a heartbeat message."
            },
            {
              "icon": {
                "type": "icon",
                "value": "search"
              },
              "text": "List the workflows in this n8n instance."
            },
            {
              "icon": {
                "type": "icon",
                "value": "database"
              },
              "text": "Create a RAG workflow that ingests documents and answers questions using pgvector."
            }
          ]
        },
        "options": {}
      },
      "id": "ad3df8d9-e391-47b0-850c-7d6b5c9d0041",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        260,
        300
      ],
      "webhookId": "56fa6ad4-5b89-46be-8d8d-8ec528b11a36"
    },
    {
      "parameters": {
        "promptType": "auto",
        "options": {
          "maxIterations": 12,
          "systemMessage": "You are NodeBot Builder for the Supabase AI Starter Kit.\n\nABSOLUTE RULES:\n- NEVER print JSON, tool names, function-call syntax, or workflow source code in your chat reply.\n- NEVER write text like {\"name\":\"...\",\"parameters\":...} or n8n_MCP_Tools_*.\n- ONLY way to act: invoke the connected tools through the real tool-calling interface. The user must never see tool payloads.\n- Your final reply is plain English: 1-3 short sentences saying what was created, plus the workflow URL the tool returned, plus 1-2 next steps. Use the URL exactly as the tool returned it \u2014 never invent URLs.\n- If a tool returns an error, briefly explain it and ask the user what to do; do not retry the same call repeatedly.\n\nTOOL ROUTING \u2014 pick exactly one:\n\n1. FAST HELPERS (use these whenever possible; one tool call, done):\n   - Create_Greeting_Workflow \u2192 hello / Manual Trigger + Set greeting demos. Inputs: workflowName, message.\n   - Create_Webhook_Workflow \u2192 POST webhook that returns JSON (echo, normalize, capture). Inputs: workflowName, webhookPath, description.\n   - Create_Scheduled_Workflow \u2192 time-based job (cron or every-N-minutes). Inputs: workflowName, cronExpression (standard 5-field cron), message.\n\n   - Create_RAG_Workflow \u2192 RAG ingest+query with pgvector. Inputs: workflowName, ingestPath, queryPath, description.\n   - Update_Workflow \u2192 rename/describe by workflowId.\n   - Activate_Deactivate_Workflow \u2192 set active true/false by workflowId.\n   - Delete_Workflow \u2192 archive ONLY after user confirms; confirmToken must equal workflowId. NEVER delete seeded templates.\n   - Create_Row_Trigger_Workflow \u2192 Postgres row trigger on a Supabase table.\n   - List_Workflows \u2192 user asks to list, search, or describe existing workflows. Input: query (empty for all).\n\n   Decision rule: if any helper above plausibly matches the user's request, USE IT. Do not invoke MCP for these patterns.\n\n2. n8n MCP Client Tool (advanced / custom only). Use only when no fast helper fits. Tool names are prefixed n8n_MCP_Tools_*. Required order:\n   a. get_sdk_reference for the relevant pattern.\n   b. search_nodes / get_node_types for unfamiliar nodes.\n   c. Write real n8n Workflow SDK TypeScript (import from @n8n/workflow-sdk). Never invent JSON like {\"version\":\"1.0\",\"workflows\":[...]}.\n   d. validate_workflow, fix any errors, then create_workflow_from_code.\n   e. publish_workflow only if the user asked for it to be activated.\n\nGENERAL:\n- Prefer simple, inspectable workflows.\n- Never invent credential IDs. Note any credentials/env vars the user must set manually.\n- Do not delete workflows unless explicitly asked.\n- Do not expose secrets in code or chat.\n\nDELETE GUARDRAIL: Never call Delete_Workflow unless the user explicitly confirmed deletion in this same conversation turn."
        }
      },
      "id": "b7723220-8528-44c7-b7a2-0ef36b09b199",
      "name": "NodeBot Builder Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "model": "qwen2.5:7b-instruct",
        "options": {
          "temperature": 0.2,
          "numPredict": 2048
        }
      },
      "id": "40a36ccf-fbdd-4e6f-b37b-483a120739a5",
      "name": "Builder Ollama Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        420,
        560
      ],
      "credentials": {
        "ollamaApi": {
          "id": "VmhEukzPe8au9PTB",
          "name": "Self Hosted Ollama"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "fromInput",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 12,
        "tableName": "n8n_chat_histories"
      },
      "id": "b88cc1a5-5501-4093-8f62-4b6f7097ab71",
      "name": "Builder Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        620,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "PostgresStarter001",
          "name": "Starter Kit Postgres"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://127.0.0.1:5678/mcp-server/http",
        "serverTransport": "httpStreamable",
        "authentication": "bearerAuth",
        "include": "selected",
        "includeTools": [
          "get_sdk_reference",
          "search_nodes",
          "get_node_types",
          "validate_workflow",
          "create_workflow_from_code",
          "update_workflow",
          "publish_workflow",
          "search_workflows",
          "get_workflow_details",
          "execute_workflow"
        ],
        "options": {
          "timeout": 120000
        }
      },
      "id": "c9aa475b-0649-4f78-acec-122fd9d2a9f1",
      "name": "n8n MCP Tools",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        820,
        560
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "N8NMcpBearer001",
          "name": "n8n MCP Access Token"
        }
      }
    },
    {
      "parameters": {
        "description": "Creates an n8n workflow with a Manual Trigger and a Set node that outputs a greeting. Use this for hello/greeting demo requests. Do not use MCP for this pattern.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "e6f7a8b9c0d1e2f3a4b5c6d7e8f90123",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "id": "workflowName",
              "displayName": "workflowName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "value": {
            "workflowName": "={{ $fromAI('workflowName', 'Name for the new workflow', 'string', 'Hello from NodeBot') }}",
            "message": "={{ $fromAI('message', 'Greeting text written by the Set node', 'string', 'Hello from NodeBot!') }}"
          }
        }
      },
      "id": "d1e2f3a4-b5c6-4789-d012-3456789abcde",
      "name": "Create_Greeting_Workflow",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1020,
        560
      ]
    },
    {
      "parameters": {
        "description": "Creates a POST webhook workflow that accepts JSON and responds with a normalized payload ({status, receivedAt, received}). Use this for any webhook / endpoint / capture / receive request. Do not use MCP for this pattern.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "id": "workflowName",
              "displayName": "workflowName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "webhookPath",
              "displayName": "webhookPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "value": {
            "workflowName": "={{ $fromAI('workflowName', 'Name for the new webhook workflow', 'string', 'Webhook Endpoint') }}",
            "webhookPath": "={{ $fromAI('webhookPath', 'URL slug for the webhook (lowercase, hyphens). Example: lead-capture', 'string', 'my-webhook') }}",
            "description": "={{ $fromAI('description', 'Short summary of what the webhook is for', 'string', 'POST webhook that echoes JSON.') }}"
          }
        }
      },
      "id": "e2f3a4b5-c6d7-4890-e123-4567890bcdef",
      "name": "Create_Webhook_Workflow",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1220,
        560
      ]
    },
    {
      "parameters": {
        "description": "Creates a scheduled (cron) workflow with a Schedule Trigger and a Set node that logs a message. Use this for any 'every N minutes/hours/days', 'at HH:MM', 'on weekdays' or cron-style request. Convert natural-language schedules to 5-field cron (minute hour day month weekday). Examples: every morning at 9am = '0 9 * * *'; every 15 minutes = '*/15 * * * *'; weekdays at noon = '0 12 * * 1-5'.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "id": "workflowName",
              "displayName": "workflowName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "cronExpression",
              "displayName": "cronExpression",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "value": {
            "workflowName": "={{ $fromAI('workflowName', 'Name for the new scheduled workflow', 'string', 'Scheduled Job') }}",
            "cronExpression": "={{ $fromAI('cronExpression', '5-field standard cron expression (minute hour day month weekday)', 'string', '0 9 * * *') }}",
            "message": "={{ $fromAI('message', 'Text written by the Set node on each run', 'string', 'Scheduled heartbeat from NodeBot.') }}"
          }
        }
      },
      "id": "f3a4b5c6-d7e8-4901-f234-567890cdef01",
      "name": "Create_Scheduled_Workflow",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1420,
        560
      ]
    },
    {
      "parameters": {
        "description": "Lists workflows in this n8n instance. Use for any 'list', 'show', 'what workflows', 'find workflow named X', or 'describe templates' request. Returns name, id, active state, URL, and description. Do not use MCP search for this.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "value": {
            "query": "={{ $fromAI('query', 'Optional filter substring; leave empty to list all', 'string', '') }}"
          }
        }
      },
      "id": "a4b5c6d7-e8f9-4012-a345-67890def0123",
      "name": "List_Workflows",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1620,
        560
      ]
    },
    {
      "parameters": {
        "description": "Creates a RAG workflow with ingest and query webhooks using Ollama nomic-embed-text and Supabase pgvector.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "f2e3d4c5b6a7988991bcdef23456789a",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "id": "workflowName",
              "displayName": "workflowName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ingestPath",
              "displayName": "ingestPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "queryPath",
              "displayName": "queryPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "value": {
            "workflowName": "={{ $fromAI('workflowName', 'Name for the RAG workflow', 'string', 'RAG Document Search') }}",
            "ingestPath": "={{ $fromAI('ingestPath', 'Webhook path slug for document ingest', 'string', 'template-rag-ingest-custom') }}",
            "queryPath": "={{ $fromAI('queryPath', 'Webhook path slug for semantic query', 'string', 'template-rag-query-custom') }}",
            "description": "={{ $fromAI('description', 'Short description', 'string', 'Ingest documents and query with local embeddings.') }}"
          }
        }
      },
      "id": "b5c6d7e8-f9a0-4123-b456-7890cdef0124",
      "name": "Create_RAG_Workflow",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1820,
        560
      ]
    },
    {
      "parameters": {
        "description": "Renames or updates description of an existing workflow by ID. Does not toggle active state.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "f3e4d5c6b7a8999002cdef345678901b",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "workflowName",
              "displayName": "workflowName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "value": {
            "workflowId": "={{ $fromAI('workflowId', 'Target workflow ID', 'string', '') }}",
            "workflowName": "={{ $fromAI('workflowName', 'New name (optional)', 'string', '') }}",
            "description": "={{ $fromAI('description', 'New description (optional)', 'string', '') }}",
            "active": "={{ $fromAI('active', 'Leave empty; use Activate_Deactivate for toggling', 'string', '') }}"
          }
        }
      },
      "id": "c6d7e8f9-a0b1-4234-c567-890def012345",
      "name": "Update_Workflow",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2020,
        560
      ]
    },
    {
      "parameters": {
        "description": "Activates or deactivates a workflow. Input active must be 'true' or 'false'.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "f4e5d6c7b8a9000113def456789012c",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "value": {
            "workflowId": "={{ $fromAI('workflowId', 'Target workflow ID', 'string', '') }}",
            "active": "={{ $fromAI('active', ''true' to activate, 'false' to deactivate', 'string', 'true') }}"
          }
        }
      },
      "id": "d7e8f9a0-b1c2-4345-d678-90ef01234567",
      "name": "Activate_Deactivate_Workflow",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2220,
        560
      ]
    },
    {
      "parameters": {
        "description": "Archives a workflow. confirmToken MUST exactly equal workflowId. Never call without explicit user confirmation in the same turn.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "f5e6d7c8b9a0111224ef567890123d",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "confirmToken",
              "displayName": "confirmToken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "value": {
            "workflowId": "={{ $fromAI('workflowId', 'Target workflow ID', 'string', '') }}",
            "confirmToken": "={{ $fromAI('confirmToken', 'Must exactly match workflowId', 'string', '') }}"
          }
        }
      },
      "id": "e8f9a0b1-c2d3-4456-e789-0f0123456789",
      "name": "Delete_Workflow",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2420,
        560
      ]
    },
    {
      "parameters": {
        "description": "Creates a Postgres row-change trigger workflow for Supabase tables.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "f6e7d8c9b0a1222335f6789012345ef",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "id": "workflowName",
              "displayName": "workflowName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tableName",
              "displayName": "tableName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "schemaName",
              "displayName": "schemaName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "value": {
            "workflowName": "={{ $fromAI('workflowName', 'Name for the workflow', 'string', 'Supabase Row Trigger') }}",
            "tableName": "={{ $fromAI('tableName', 'Table to watch', 'string', 'documents') }}",
            "schemaName": "={{ $fromAI('schemaName', 'Schema name', 'string', 'public') }}",
            "description": "={{ $fromAI('description', 'Short description', 'string', 'Runs when rows change in the table.') }}"
          }
        }
      },
      "id": "f9a0b1c2-d3e4-4567-f890-123456789abc",
      "name": "Create_Row_Trigger_Workflow",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2620,
        560
      ]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "NodeBot Builder Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Builder Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "NodeBot Builder Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Builder Memory": {
      "ai_memory": [
        [
          {
            "node": "NodeBot Builder Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "n8n MCP Tools": {
      "ai_tool": [
        [
          {
            "node": "NodeBot Builder Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create_Greeting_Workflow": {
      "ai_tool": [
        [
          {
            "node": "NodeBot Builder Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create_Webhook_Workflow": {
      "ai_tool": [
        [
          {
            "node": "NodeBot Builder Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create_Scheduled_Workflow": {
      "ai_tool": [
        [
          {
            "node": "NodeBot Builder Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List_Workflows": {
      "ai_tool": [
        [
          {
            "node": "NodeBot Builder Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create_RAG_Workflow": {
      "ai_tool": [
        [
          {
            "node": "NodeBot Builder Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update_Workflow": {
      "ai_tool": [
        [
          {
            "node": "NodeBot Builder Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Activate_Deactivate_Workflow": {
      "ai_tool": [
        [
          {
            "node": "NodeBot Builder Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete_Workflow": {
      "ai_tool": [
        [
          {
            "node": "NodeBot Builder Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create_Row_Trigger_Workflow": {
      "ai_tool": [
        [
          {
            "node": "NodeBot Builder Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "aiBuilderAssisted": true
  },
  "pinData": {},
  "versionId": "d4e5f6a7-b8c9-4012-defa-0123456789ac",
  "triggerCount": 0,
  "tags": []
}
