n8n/demo-data/workflows/c9a1b2c3d4e5f6789012345678ab.json
{
  "createdAt": "2026-05-21T12:00:00.000Z",
  "updatedAt": "2026-05-21T12:00:00.000Z",
  "id": "c9a1b2c3d4e5f6789012345678ab",
  "name": "Template - Supabase API Health Check",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "template-supabase-health",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1111111-1111-1111-1111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [460, 300],
      "webhookId": "c9a1b2c3d4e5f6789012345678ab",
      "credentials": {}
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://kong:8000/auth/v1/health",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzUxMDg2ODAwLCJleHAiOjE5MDg4NTMyMDB9.ZvEDn3ykbm4EzNHfU5SG7exKPD1HkK9w_760ZJa63OQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzUxMDg2ODAwLCJleHAiOjE5MDg4NTMyMDB9.ZvEDn3ykbm4EzNHfU5SG7exKPD1HkK9w_760ZJa63OQ"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "Kong Auth Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const status = $input.first().json.statusCode ?? 0;\nreturn [{\n  json: {\n    ok: status === 200,\n    authHealthStatus: status,\n    checkedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "f6666666-6666-6666-6666-666666666666",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "credentials": {}
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Kong Auth Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kong Auth Health": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c9a1b2c3d4e5f6789012345678ab-v2",
  "triggerCount": 0,
  "tags": []
}
