n8n/demo-data/workflows/e6f7a8b9c0d1e2f3a4b5c6d7e8f90123.json
{
  "createdAt": "2026-05-22T12:00:00.000Z",
  "updatedAt": "2026-05-22T12:00:00.000Z",
  "id": "e6f7a8b9c0d1e2f3a4b5c6d7e8f90123",
  "name": "SK - Create Greeting Workflow",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "workflowName",
              "type": "string"
            },
            {
              "name": "message",
              "type": "string"
            }
          ]
        }
      },
      "id": "f1a2b3c4-d5e6-4789-a012-345678901abc",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const input = $input.first().json;\nconst workflowName = String(input.workflowName || 'Hello from NodeBot');\nconst message = String(input.message || 'Hello from NodeBot!');\nconst safeName = workflowName.replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"');\nconst safeMessage = message.replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"');\nconst slug = workflowName.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '') || 'hello-nodebot';\n\nconst sdkCode = `import { workflow, node, trigger } from \"@n8n/workflow-sdk\";\n\nconst startTrigger = trigger({\n  type: \"n8n-nodes-base.manualTrigger\",\n  version: 1,\n  config: { name: \"When clicking Execute workflow\" },\n});\n\nconst setHello = node({\n  type: \"n8n-nodes-base.set\",\n  version: 3.4,\n  config: {\n    name: \"Set Hello\",\n    parameters: {\n      mode: \"manual\",\n      assignments: {\n        assignments: [\n          { id: \"hello\", name: \"message\", value: \"${safeMessage}\", type: \"string\" },\n        ],\n      },\n    },\n  },\n});\n\nexport default workflow(\"${slug}\", \"${safeName}\")\n  .add(startTrigger)\n  .to(setHello);`;\n\nreturn [{\n  json: {\n    workflowName,\n    message,\n    sdkCode,\n    validateRpc: {\n      jsonrpc: '2.0',\n      id: 1,\n      method: 'tools/call',\n      params: { name: 'validate_workflow', arguments: { code: sdkCode } },\n    },\n    createRpc: {\n      jsonrpc: '2.0',\n      id: 2,\n      method: 'tools/call',\n      params: {\n        name: 'create_workflow_from_code',\n        arguments: {\n          code: sdkCode,\n          name: workflowName,\n          description: `Manual trigger + Set node returning: ${message}`,\n        },\n      },\n    },\n  },\n}];"
      },
      "id": "b3c4d5e6-f7a8-4901-b234-567890abcdef",
      "name": "Build SDK Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/mcp-server/http",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.validateRpc) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "c4d5e6f7-a8b9-4012-c345-67890abcdef0",
      "name": "MCP Validate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        300
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "N8NMcpBearer001",
          "name": "n8n MCP Access Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function parseMcpSse(raw) {\n  const text = typeof raw === 'string' ? raw : String(raw ?? '');\n  const dataLine = text.split(/\\r?\\n/).find((line) => line.startsWith('data: '));\n  if (!dataLine) {\n    throw new Error('Invalid MCP validate response: ' + text.slice(0, 500));\n  }\n  const payload = JSON.parse(dataLine.slice(6));\n  if (payload.error) {\n    throw new Error(payload.error.message || JSON.stringify(payload.error));\n  }\n  const contentText = payload.result?.content?.[0]?.text;\n  if (contentText) {\n    return JSON.parse(contentText);\n  }\n  return payload.result?.structuredContent || {};\n}\n\nconst http = $input.first().json;\nconst raw = http.body ?? http.data ?? '';\nconst validation = parseMcpSse(raw);\nif (!validation.valid) {\n  throw new Error('Workflow validation failed: ' + JSON.stringify(validation));\n}\n\nconst built = $('Build SDK Payload').first().json;\nreturn [{ json: { ...built, validation } }];"
      },
      "id": "d5e6f7a8-b9c0-4123-d456-7890abcdef01",
      "name": "Parse Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/mcp-server/http",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.createRpc) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "e6f7a8b9-c0d1-4234-e567-890abcdef012",
      "name": "MCP Create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        300
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "N8NMcpBearer001",
          "name": "n8n MCP Access Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function parseMcpSse(raw) {\n  const text = typeof raw === 'string' ? raw : String(raw ?? '');\n  const dataLine = text.split(/\\r?\\n/).find((line) => line.startsWith('data: '));\n  if (!dataLine) {\n    throw new Error('Invalid MCP create response: ' + text.slice(0, 500));\n  }\n  const payload = JSON.parse(dataLine.slice(6));\n  if (payload.error) {\n    throw new Error(payload.error.message || JSON.stringify(payload.error));\n  }\n  const contentText = payload.result?.content?.[0]?.text;\n  if (contentText) {\n    return JSON.parse(contentText);\n  }\n  return payload.result?.structuredContent || {};\n}\n\nconst http = $input.first().json;\nconst created = parseMcpSse(http.body ?? http.data ?? '');\nreturn [{\n  json: {\n    success: true,\n    workflowId: created.workflowId,\n    name: created.name,\n    url: created.url,\n    nodeCount: created.nodeCount,\n    response: `Created workflow \"${created.name}\" (${created.nodeCount} nodes). Open ${created.url} in n8n to test it.`,\n  },\n}];"
      },
      "id": "f7a8b9c0-d1e2-4345-f678-90abcdef0123",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        300
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Build SDK Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SDK Payload": {
      "main": [
        [
          {
            "node": "MCP Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Validate": {
      "main": [
        [
          {
            "node": "Parse Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validate": {
      "main": [
        [
          {
            "node": "MCP Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Create": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b2c3d4e5-f6a7-4890-bcde-f123456789ab",
  "tags": []
}
