n8n/demo-data/workflows/builder-helpers/a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6.json
{
  "createdAt": "2026-05-22T12:00:00.000Z",
  "updatedAt": "2026-05-22T12:00:00.000Z",
  "id": "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6",
  "name": "SK - Create Webhook Workflow",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            { "name": "workflowName", "type": "string" },
            { "name": "webhookPath", "type": "string" },
            { "name": "description", "type": "string" }
          ]
        }
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [260, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const input = $input.first().json;\nconst workflowName = String(input.workflowName || 'Webhook Endpoint');\nconst webhookPathRaw = String(input.webhookPath || 'my-webhook');\nconst webhookPath = webhookPathRaw.replace(/^\\/+/, '').replace(/[^a-z0-9_\\-]/gi, '-').toLowerCase() || 'my-webhook';\nconst description = String(input.description || 'POST webhook that echoes the JSON payload back as a normalized response.');\n\nconst safeName = workflowName.replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"');\nconst slug = workflowName.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '') || 'webhook-endpoint';\n\nconst sdkCode = `import { workflow, node, trigger, expr } from \"@n8n/workflow-sdk\";\n\nconst webhookTrigger = trigger({\n  type: \"n8n-nodes-base.webhook\",\n  version: 2,\n  config: {\n    name: \"Webhook\",\n    parameters: {\n      httpMethod: \"POST\",\n      path: \"${webhookPath}\",\n      responseMode: \"lastNode\",\n    },\n  },\n});\n\nconst buildResponse = node({\n  type: \"n8n-nodes-base.set\",\n  version: 3.4,\n  config: {\n    name: \"Build Response\",\n    parameters: {\n      mode: \"manual\",\n      assignments: {\n        assignments: [\n          { id: \"status\", name: \"status\", value: \"ok\", type: \"string\" },\n          { id: \"receivedAt\", name: \"receivedAt\", value: expr(\"{{ $now.toISO() }}\"), type: \"string\" },\n          { id: \"received\", name: \"received\", value: expr(\"{{ $json.body || $json }}\"), type: \"object\" },\n        ],\n      },\n    },\n  },\n});\n\nexport default workflow(\"${slug}\", \"${safeName}\")\n  .add(webhookTrigger)\n  .to(buildResponse);`;\n\nreturn [{\n  json: {\n    workflowName,\n    webhookPath,\n    description,\n    sdkCode,\n    validateRpc: { jsonrpc: '2.0', id: 1, method: 'tools/call', params: { name: 'validate_workflow', arguments: { code: sdkCode } } },\n    createRpc: { jsonrpc: '2.0', id: 2, method: 'tools/call', params: { name: 'create_workflow_from_code', arguments: { code: sdkCode, name: workflowName, description } } },\n  },\n}];"
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Build SDK Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/mcp-server/http",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json, text/event-stream" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.validateRpc) }}",
        "options": {
          "response": { "response": { "fullResponse": true, "responseFormat": "text" } }
        }
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "MCP Validate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 300],
      "credentials": {
        "httpBearerAuth": { "id": "N8NMcpBearer001", "name": "n8n MCP Access Token" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function parseMcpSse(raw) {\n  const text = typeof raw === 'string' ? raw : String(raw ?? '');\n  const dataLine = text.split(/\\r?\\n/).find((l) => l.startsWith('data: '));\n  if (!dataLine) throw new Error('Invalid MCP validate response: ' + text.slice(0, 500));\n  const payload = JSON.parse(dataLine.slice(6));\n  if (payload.error) throw new Error(payload.error.message || JSON.stringify(payload.error));\n  const t = payload.result?.content?.[0]?.text;\n  return t ? JSON.parse(t) : (payload.result?.structuredContent || {});\n}\nconst http = $input.first().json;\nconst v = parseMcpSse(http.body ?? http.data ?? '');\nif (!v.valid) throw new Error('Workflow validation failed: ' + JSON.stringify(v));\nconst built = $('Build SDK Payload').first().json;\nreturn [{ json: { ...built, validation: v } }];"
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Parse Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/mcp-server/http",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json, text/event-stream" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.createRpc) }}",
        "options": {
          "response": { "response": { "fullResponse": true, "responseFormat": "text" } }
        }
      },
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "MCP Create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1220, 300],
      "credentials": {
        "httpBearerAuth": { "id": "N8NMcpBearer001", "name": "n8n MCP Access Token" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function parseMcpSse(raw) {\n  const text = typeof raw === 'string' ? raw : String(raw ?? '');\n  const dataLine = text.split(/\\r?\\n/).find((l) => l.startsWith('data: '));\n  if (!dataLine) throw new Error('Invalid MCP create response: ' + text.slice(0, 500));\n  const payload = JSON.parse(dataLine.slice(6));\n  if (payload.error) throw new Error(payload.error.message || JSON.stringify(payload.error));\n  const t = payload.result?.content?.[0]?.text;\n  return t ? JSON.parse(t) : (payload.result?.structuredContent || {});\n}\nconst http = $input.first().json;\nconst created = parseMcpSse(http.body ?? http.data ?? '');\nconst built = $('Build SDK Payload').first().json;\nconst webhookUrl = `http://localhost:5678/webhook-test/${built.webhookPath}`;\nreturn [{\n  json: {\n    success: true,\n    workflowId: created.workflowId,\n    name: created.name,\n    url: created.url,\n    nodeCount: created.nodeCount,\n    webhookPath: built.webhookPath,\n    response: `Created webhook workflow \"${created.name}\". Open ${created.url} to activate it, then POST to ${webhookUrl} (or http://localhost:5678/webhook/${built.webhookPath} once activated).`,\n  },\n}];"
      },
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1460, 300]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Build SDK Payload", "type": "main", "index": 0 }]] },
    "Build SDK Payload": { "main": [[{ "node": "MCP Validate", "type": "main", "index": 0 }]] },
    "MCP Validate": { "main": [[{ "node": "Parse Validate", "type": "main", "index": 0 }]] },
    "Parse Validate": { "main": [[{ "node": "MCP Create", "type": "main", "index": 0 }]] },
    "MCP Create": { "main": [[{ "node": "Format Result", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": true },
  "pinData": {},
  "versionId": "a1b2c3d4-e5f6-4789-abcd-ef0123456789",
  "tags": []
}
